/* 外部容器 */
.sidebar-wrapper {
  margin-top: 10px;
  background: white;
  border-radius: 12px;
  padding: 5px 10px 5px;
  display: flex;
  /* 更强的阴影 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.sidebar-wrapper ::v-deep(.el-form-item) {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.table-pagination-container {
  position: relative;
  min-height: 440px;
  padding-bottom: 48px;
  /* 增加底部内边距预留分页空间 */
}

/* 让表单项在一行内自适应 */
.form-horizontal {
  display: flex;
  flex-wrap: wrap;
  /* 控制表单项间距 */
  gap: 10px;
}

.pagination-wrap {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* 响应式处理，防止小屏幕变形 */
@media (max-width: 600px) {
  .form-horizontal {
    flex-direction: column;
  }

  .el-form-item {
    width: 100%;
  }

  .custom-input {
    width: 100%;
  }
}